.page-header
  %h2= @activity.title

%p=raw @activity.description

- if current_user.can?(:activities, :edit)
  = link_to 'Edit', [:edit, @activity.learning_unit.course, @activity.learning_unit, @activity]
